<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ERSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ReimbursementServlet</display-name>
    <servlet-name>ReimbursementServlet</servlet-name>
    <servlet-class>com.ers.servlet.ReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReimbursementServlet</servlet-name>
    <url-pattern>/ReimbursementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.ers.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/html/404.html</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.ers.servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.ers.servlet.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveRegistration</display-name>
    <servlet-name>ApproveRegistration</servlet-name>
    <servlet-class>com.ers.servlet.ApproveRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveRegistration</servlet-name>
    <url-pattern>/ApproveRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveReimb</display-name>
    <servlet-name>ApproveReimb</servlet-name>
    <servlet-class>com.ers.servlet.ApproveReimb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveReimb</servlet-name>
    <url-pattern>/ApproveReimb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DenyReimb</display-name>
    <servlet-name>DenyReimb</servlet-name>
    <servlet-class>com.ers.servlet.DenyReimb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DenyReimb</servlet-name>
    <url-pattern>/DenyReimb</url-pattern>
  </servlet-mapping>
</web-app>